<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TAAS - WebApp - @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <environment include="Development">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css">
        <!-- Twitter Bootstrap -->
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <!-- AdminLTE -->
        <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.css" />

        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <!-- Local -->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
              asp-fallback-href="~/lib/font-awesome/css/all.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
              asp-fallback-href="~/lib/ionicons/css/ionicons.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!-- Twitter Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!-- AdminLTE -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/css/adminlte.min.css"
              asp-fallback-href="~/lib/admin-lte/css/adminlte.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <!-- Local -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
                <svg height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" alt="AdminLTE Logo" style="opacity: .8" class="brand-image img-circle elevation-3">
                    <g id="Filled_outline" data-name="Filled outline">
                        <rect fill="#f35244" height="416" rx="24" width="320" x="48" y="72" />
                        <path d="m80 104h256v352h-256z" fill="#4eb9c7" />
                        <path d="m336 104v320h-192l-64-64v-256z" fill="#60d1e0" />
                        <path d="m336 104v320h-192l-64-64v-13.47l246.64-242.53z" fill="#5ac6d4" />
                        <path d="m80 360h64v64z" fill="#b7e7eb" />
                        <circle cx="208" cy="168" fill="#3fb5c4" r="24" />
                        <path d="m296 400h-24a8 8 0 0 1 -7.821-6.316c-.366.635-.711 1.274-1.03 1.9a8 8 0 0 1 -15.149-3.584 26.884 26.884 0 0 0 -1.062-7.144c-2.276 1.933-5.654 6.5-7.789 10.733l-14.3-7.167c2.391-4.79 11.14-20.422 23.151-20.422a13.614 13.614 0 0 1 11.2 5.946c3.6-3.375 7.93-5.946 12.8-5.946a11.124 11.124 0 0 1 9.734 5.2c1.927 3.117 2.1 6.993 1.449 10.8h12.817zm-47.643-16.039" fill="#3fb5c4" />
                        <path d="m240 64v-8a32 32 0 0 0 -32-32 32 32 0 0 0 -32 32v8l-35.969 4.5a32 32 0 0 0 -28.031 31.749v19.751h192v-19.751a32 32 0 0 0 -28.031-31.749z" fill="#ffb531" />
                        <path d="m457.373 150.627-145.373 145.373-32-32 145.373-145.373a22.627 22.627 0 0 1 16-6.627 22.628 22.628 0 0 1 22.627 22.627 22.627 22.627 0 0 1 -6.627 16z" fill="#4d5e78" />
                        <path d="m280 264-16 48 48-16z" fill="#d6d6d4" />
                        <path d="m360 464a16.019 16.019 0 0 1 -16 16h-272a16.019 16.019 0 0 1 -16-16v-368a16.019 16.019 0 0 1 16-16h37.531a39.806 39.806 0 0 0 -5.3 16h-24.231a8 8 0 0 0 -8 8v352a8 8 0 0 0 8 8h256a8 8 0 0 0 8-8v-152h-16v112h-176v-56a8 8 0 0 0 -8-8h-56v-240h16v8a8 8 0 0 0 8 8h192a8 8 0 0 0 8-8v-8h16v56h16v-64a8 8 0 0 0 -8-8h-24.234a39.806 39.806 0 0 0 -5.3-16h37.534a16.019 16.019 0 0 1 16 16v48h16v-48a32.036 32.036 0 0 0 -32-32h-55.111a39.769 39.769 0 0 0 -11.928-3.442l-28.961-3.62v-.938a40 40 0 0 0 -80 0v.938l-28.961 3.62a39.769 39.769 0 0 0 -11.928 3.442h-55.111a32.036 32.036 0 0 0 -32 32v368a32.036 32.036 0 0 0 32 32h272a32.036 32.036 0 0 0 32-32v-184h-16zm-272-16v-68.686l50.343 50.343a8 8 0 0 0 5.657 2.343h184v16zm48-43.313-36.687-36.687h36.687zm5.023-328.252 35.969-4.5a8 8 0 0 0 7.008-7.935v-8a24 24 0 0 1 48 0v8a8 8 0 0 0 7.008 7.938l35.969 4.5a24.037 24.037 0 0 1 21.023 23.811v11.751h-176v-11.751a24.037 24.037 0 0 1 21.023-23.814z" />
                        <path d="m232 168a24 24 0 1 0 -24 24 24.028 24.028 0 0 0 24-24zm-32 0a8 8 0 1 1 8 8 8.009 8.009 0 0 1 -8-8z" />
                        <path d="m168 208h120v16h-120z" />
                        <path d="m120 208h32v16h-32z" />
                        <path d="m120 240h136v16h-136z" />
                        <path d="m120 304h120v16h-120z" />
                        <path d="m168 336h128v16h-128z" />
                        <path d="m120 272h128v16h-128z" />
                        <path d="m281.734 373.2a11.124 11.124 0 0 0 -9.734-5.2c-4.87 0-9.2 2.571-12.8 5.946a13.614 13.614 0 0 0 -11.2-5.946c-12.011 0-20.76 15.632-23.155 20.422l14.3 7.167c2.135-4.236 5.513-8.8 7.789-10.733a26.884 26.884 0 0 1 1.066 7.144 8 8 0 0 0 15.149 3.589c.319-.631.664-1.27 1.03-1.9a8 8 0 0 0 7.821 6.311h24v-16h-12.817c.647-3.8.478-7.681-1.449-10.8z" />
                        <path d="m200 48h16v16h-16z" />
                        <path d="m459.314 160 3.716-3.716a30.628 30.628 0 0 0 -43.314-43.314l-145.373 145.373a7.945 7.945 0 0 0 -1.926 3.129h-.007l-16 48a8 8 0 0 0 10.12 10.12l48-16v-.007a7.964 7.964 0 0 0 3.129-1.926l130.341-130.345 4.686 4.686a11.313 11.313 0 0 1 0 16l-42.343 42.343 11.314 11.314 42.343-42.343a27.314 27.314 0 0 0 0-38.628zm-17.941-40a14.627 14.627 0 0 1 10.343 24.97l-3.716 3.716-20.686-20.686 3.716-3.716a14.529 14.529 0 0 1 10.343-4.284zm-157.873 158.811 13.689 13.689-20.54 6.847zm28.5 5.876-20.687-20.687 68.687-68.686 20.686 20.686zm80-80-20.686-20.687 44.686-44.686 20.686 20.686z" />
                    </g>
                </svg>
                <span class="brand-text font-weight-light">TAAS</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-file"></i>
                                <p>Tarefa</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="MensagensDia" asp-action="Index" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>Mensagens do Dia</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a href="@Url.Action("~/")">TAAS</a>.</strong>
            Todos os direitos reservados.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <environment include="Development">
        <!-- jQuery -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- jQuery UI -->
        <script src="~/lib/jqueryui/jquery-ui.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button)
        </script>
        <!-- Bootstrap -->
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
        <!-- AdminLTE -->
        <script src="~/lib/admin-lte/js/adminlte.js"></script>

        <!-- Local -->
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==">
        </script>
        <!-- jQuery UI -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
                asp-fallback-src="~/lib/jqueryui/jquery-ui.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha512-BHDCWLtdp0XpAFccP2NifCbJfYoYhsRSZOUM3KnAxy2b/Ay3Bn91frud+3A95brA4wDWV3yEOZrJqgV8aZRXUQ==">
        </script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button)
        </script>
        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha512-iceXjjbmB2rwoX93Ka6HAHP+B76IY1z0o3h+N1PeDtRSsyeetU3/0QKJqGyPJcX63zysNehggFwMC/bi7dvMig==">
        </script>
        <!-- AdminLTE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/js/adminlte.min.js"
                asp-fallback-src="~/lib/admin-lte/js/adminlte.min.js"
                crossorigin="anonymous"
                integrity="sha512-++c7zGcm18AhH83pOIETVReg0dr1Yn8XTRw+0bWSIWAVCAwz1s2PwnSj4z/OOyKlwSXc4RLg3nnjR22q0dhEyA==">
        </script>

        <!-- Local -->
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
